@use "../../styles/colors.css" as *;

.Bookmark {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary-color);
  aspect-ratio: 1/1;
  width: 64px;

  img {
    width: 32px;
  }

  &:hover {
    cursor: pointer;
  }
}
