* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
}

html,
body {
  height: 100%;
  height: 100dvh;
}

img {
  max-width: 100%;
}
